/* 
    Created on : 14/10/2018, 08:33:35 AM
    Author     : AlejoMile
*/

#logoNutre {
    max-width: 100vw;
    width: auto;
}

/*!* Extra small devices (phones, 600px and down) *!*/
/*@media only screen and (max-width: 600px) {*/
/*    #logoNutre {*/
/*        max-height: 24.895615866388308vw;*/
/*        max-width: 100vw;*/
/*        height: 207.696242px;*/
/*        width: 1040px;*/
/*    }*/
/*}*/

/*!* Small devices (portrait tablets and large phones, 600px and up) *!*/
/*@media only screen and (min-width: 600px) {*/
/*    */
/*}*/

/*!* Medium devices (landscape tablets, 768px and up) *!*/
/*@media only screen and (min-width: 768px) {*/
/*    #fila1 {*/
/*        width: auto;*/
/*        height: 10px;*/
/*    }*/
/*}*/

/*!* Large devices (laptops/desktops, 992px and up) *!*/
/*@media only screen and (min-width: 992px) {*/
/*    #fila1 {*/
/*        width: auto;*/
/*        height: 10px;*/
/*    }*/
/*}*/

/*!* Extra large devices (large laptops and desktops, 1200px and up) *!*/
/*@media only screen and (min-width: 1200px) {*/
/*    #fila1 {*/
/*        width: auto;*/
/*        height: auto;*/
/*    }*/
/*}*/

#fila2 {
    background-color: rgba(204, 220, 202, 0.94);
}

.nav{
    padding: 7px;
}

header{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-block{
    width:250px; 
    height:322px;
}

#cardContacto, #cardSocial, #cardVisitas{
    border-style: none; 
}

h3{
    font-size: 39px;
    text-align: center;
    padding: 23px;
}

.card-header, .card-body, .card-footer{
    text-align: center;
}

.card-header{
    background-color: rgba(204, 220, 202, 0.94);
    color: #114704;
    font-size: 22px;
    font-weight:bold;
}

p{
    text-align: left;
    margin-top: -19px;
}

#objPricipal{
    text-align: justify;
}

#fila6{
    background-color: #005883;
}

.nav-link{
    color: #ffffff;
    font-size: 18px;
    font-weight:bold;
    border-radius: 1.25rem;
}

/*img, video, object { max-width:100%; }*/