
	/*1.6*/
	html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
font-size: 98%;
font-weight: normal;
}
#my-account ul.myaccount-link-list li a i{color:#6c6c6c}
#center_column #authentication #create-account_form h4,.pb-center-column h1,.pb-center-column #product_reference span,#pQuantityAvailable span, #usefull_link_block li a:before{color:#e7e7e7}

#subcategories ul li .subcategory-name{font:600 1.3em/22px Yanone Kaffeesatz, sans-serif; color #d9d9d9}
.breadcrumb, .breadcrumb a{background:#150017; color: #f3ffe7}
.breadcrumb a:after{background:#150017}
.breadcrumb a.home i{ color: #f3ffe7}
.header-container{background:transparent}
#home-page-tabs > li a{font:inherit}
.header_user_info a,#contact-link a{font-weight: normal;}
	 #header{
color:#f7f7f7;
background-color: transparent;
background-image: url(../icons/transparent.png);
background-repeat: repeat;
background-position: center center;
border-radius: 0px;
-webkit-border-radius:0px; 
-moz-border-radius: 0px;
border-style:none;
border-width:0;
border-color:transparent;

-moz-box-shadow: 0px -15px 0 0 #070707;
-webkit-box-shadow: 0px -15px 0 0 #070707;
box-shadow: 0px -15px 0 0 #070707;
box-shadow: none\0/;
behavior: url(PIE.htc);
z-index:2;


}
.shop-phone strong,#contact-link a,.header_user_info a,#languages-block-top div.current{color:#f3f3f3;}
	/* .columns-container, #page{background-color: #000000;
 background-image:url(../icons/woman.jpg);
 font-family:Yanone Kaffeesatz; 
 background-attachment:fixed; 
 background-repeat:no-repeat;
  background-position:right top;
 }*/
 body {background-color: #000000;
 background-image:url(../icons/woman.jpg);
 font-family:Yanone Kaffeesatz; 
 background-attachment:fixed; 
 background-repeat:no-repeat;
  background-position:right top}
  .columns-container{background:transparent}
  .new-label{background:#007012; color:#ff6091}
  ul.product_list .availability span.available-now, #availability_value, #last_quantities{color:#ffffff; background:#038500; border:1px solid #038500}
.new-label:before{border-color: #fefff0 transparent transparent transparent;}
.new-label:after{border-color: #fefff0 transparent transparent transparent;}
  #columns{
	  


padding-top:5px;
padding-bottom:5px;
/*margin-top:0px;*/
 /*padding-left:5px; padding-right:5px;*/
border-style:solid;
border-width:1px;
background-color:transparent;
/*margin-bottom:0px;*/
-webkit-border-radius:0; 
-moz-border-radius: 0;
border-radius: 0;
-webkit-box-shadow: 0px 0px 30px 3px #1b1b1b;
-moz-box-shadow: 0px 0px 30px 3px #1b1b1b;
box-shadow: 0px 0px 30px 3px #1b1b1b;
border-color:#a7a7a7;
background-image:url(../icons/transparent-black3.png);
behavior: url(PIE.htc);

z-index:0;


	  }
	
	.footer-container #footer #block_contact_infos > div ul li i,.footer-container #footer #social_block ul li a{
		color:#a4a4a4;
		}
		.footer-container #footer #social_block ul li a{color:#979797;-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;}
		#layer_cart, #layer_cart .layer_cart_cart{background:#000000; border: 1px solid #fff}
		#layer_cart .layer_cart_product .layer_cart_product_info #layer_cart_product_title,#layer_cart .layer_cart_cart h2,#layer_cart .cross{color:#eeeeee}
	
#languages-block-top, #contact-link,#currencies-block-top,.header_user_info{float:left}

/*prod*/
 ul.product_list.grid > li.hovered .product-container {background:#313131;}
 ul.product_list.grid > li.hovered .product-container {
	 	border-color:#757575;
	 border-style: solid ; 
	 border-width 0px;
	   border-radius:0px;
	  -moz-border-radius:0px;
	  -ms-border-radius:0px;
	-webkit-border-radius:0px;
	-khtml-border-radius: 0px;
background:#444444;
  -moz-box-shadow: 0px 0px 5px 1px #9b9b9b;
-webkit-box-shadow: 0px 0px 5px 1px #9b9b9b;
box-shadow: 0px 0px 5px 1px #9b9b9b;
	
	
 }
 ul.product_list.list > li .product-image-container{
	  	border-color:#757575;
	 border-style: solid ; 
	 border-width 2px;
	
	 }
	 
	 ul.product_list.list > li .product-container{
		 /*	border-color:#757575;*/
		 border-top: 0px solid #d6d4d4;
		 border-bottom: 0px solid #d6d4d4;
		 border-left: 0px solid #d6d4d4;
		 border-right: 0px solid #d6d4d4;
	 border-style: solid ; 
	 border-width 0px;
	    border-radius:0px;
	  -moz-border-radius:0px;
	  -ms-border-radius:0px;
	-webkit-border-radius:0px;
	-khtml-border-radius: 0px;
	margin-bottom:5px;
	padding: 30px 10px 30px;
	  -moz-box-shadow: 0px 0px 5px 1px #9b9b9b;
-webkit-box-shadow: 0px 0px 5px 1px #9b9b9b;
box-shadow: 0px 0px 5px 1px #9b9b9b;
	
	 }
	 ul.product_list.grid > li.hovered .product-container .button-container,
      ul.product_list.grid > li.hovered .product-container .comments_note {
        display: block; } 
	
 ul.product_list.grid > li .product-container .content_price,.price.product-price{color:#db0700}
 ul.product_list .product-name, ul.product_list.grid > li .product-container .product-desc{color:#eeeeee}
 .dark{color:#eeeeee; font-weight:bolder}
 ul.product_list.list > li .product-container:hover{background:#444444;}
 ul.product_list.grid > li .product-container{background:#313131;}
 ul.product_list.grid > li .product-container .product-image-container{
	  -moz-box-shadow: 0px 0px 5px 1px #9b9b9b;
-webkit-box-shadow: 0px 0px 5px 1px #9b9b9b;
box-shadow: 0px 0px 5px 1px #9b9b9b;
	  border: 0px solid #757575;
	  border-radius:0px;
	  -moz-border-radius:0px;
	  -ms-border-radius:0px;
	-webkit-border-radius:0px;
	-khtml-border-radius: 0px;
	 
	 }
	ul.product_list.grid > li .product-container{min-height:391px} 
	 
	 .our_price_display{color:#db0700}
	 h3.page-product-heading{background-color:#2c2c2c; color:#f6fff3}
	 .page-product-box{background:#ededed}
	 .pb-center-column{
		 background-image:url(../icons/transparent-black1.png);
	background-repeat:repeat;
	background-color:transparent;
  border-radius: ;
	-moz-border-radius: ;
	-webkit-border-radius: ;
	behavior: url(PIE.htc);
z-index:0;

		 }
	 .box-info-product .exclusive:after{  background: none;}
	 
	 /*table*/
	 .table > thead > tr > th{background-color:#181818; color:#fcfcfc}
	 #cart_summary tbody td{color:#cfcfcf}
	 #cart_summary tfoot td#total_price_container,#cart_summary tfoot td.total_price_container span{color:#ff1f10}
	 #cart_summary  .table > tbody > tr {background-color:#333333}
	 /**/
	 
	 .box{background:transparent}
	 h1, .h1,.page-heading{font-size: 2em; text-transform:capitalize}
	  h2, .h2{font-size: 1.5em; text-transform:capitalize}
	  
	   h3, .h3,{font-size: 1.3em; text-transform:capitalize}
.shop-phone{float:right; margin-right:3px}
.header_user_info{border-left:none}



	  .footer-container {

    clear: both;

    font-size: 12px;
    height: auto;
    list-style-type: none;
    margin: 0 0 10px 0;
    position: relative;
	font-family:Yanone Kaffeesatz;

border-style:solid;
border-width:1px;
border-color:#cdcdcd;
background-image: url(../icons/transparent-black4.png);
background-position: center center;
background-repeat: repeat;
background-color:transparent;
border-radius: 0;
-webkit-border-radius:0; 
-moz-border-radius: 0;
-moz-box-shadow: 0px 15px 0px 0px transparent;
-webkit-box-shadow: 0px 15px 0px 0px transparent;
box-shadow: 0px 15px 0px 0px transparent;  
box-shadow: none\0/;
behavior: url(PIE.htc);

}
#footercopyright p {padding-left:1.7em; padding-bottom:0em; font-size:10px;}
#footercopyright a {color:#000000; font-weight:bold; font-weight:bold; text-decoration:none}
#footercopyright a:hover {color:#3dbdce; text-decoration:none}
  #footer ul, .footer-container #footer h4,#footer #newsletter_block_left h4,.footer-container #footer h4,.footer-container #footer #social_block h4,.footer-container #footer h4 a{ 
  text-align:center;color:#f9f9f9; font-family:Yanone Kaffeesatz; font-weight:600;
  }
.footer-container #footer ul li, #footer span, #footer a:hover,.footer-container #footer a:hover{
color:#f9f9f9; font-family:Yanone Kaffeesatz}
#footer a, .footer-container #footer ul li a{
color:#e8e8e8; text-decoration:none;font-family:Yanone Kaffeesatz}

div.block h4,.title_block,div.tags_block .title_block,.block .title_block, .block h4 {font-size:120%; font-weight:100}
div#categories_block_left ul.tree a:hover{
	color:#bbb;
  transition: all 0.65s ease-in-out;
    -webkit-transition: all 0.65s ease-in-out;
    -moz-transition: all 0.65s ease-in-out;} 
div.exclusive a,#cart_block dl span.price, #cart_block span.price,div.block a,a.tag_level1,div#categories_block_left ul.tree a  {
color:#e4e4e4;
padding-left: 1px;
padding-right: 1px;
  transition: all 0.65s ease-in-out;
    -webkit-transition: all 0.65s ease-in-out;
    -moz-transition: all 0.65s ease-in-out; 

}
div.block h2{color:#e4e4e4; border-bottom:0px}
div#newsletter_block_left div.block_content input.button_mini {
	background-color:#333333;}

div.block h4,.title_block,div.tags_block .title_block,.block .title_block, .block h4 {
color:#ffffff;
margin-top:0;
border-radius: 0;
-webkit-border-radius:0; 
-moz-border-radius: 0;
background-color:transparent;
background-image:url(../icons/transparent-black1.png);
text-transform:uppercase;
height:30px
background-repeat:repeat;
border-width:0px 0 1px 0px;
border-color:#acacac;
border-style:dashed;
font-family:Yanone Kaffeesatz;
behavior: url(PIE.htc);
z-index:0;
padding:0;
line-height:200%;
text-align:center;
 

}
div.block h4 a, #cart_block h4 a,div.exclusive h4,div.exclusive h4 a,
.title_block,div.block h4, .title_block,.block .title_block a, .block h4 a{
color:#ffffff;
text-transform:uppercase;
height:30px

}
#cart_block h4,#cart_block .title_block {
background-image:url(../icons/transparent-black1.png);
background-color:transparent;
border-color:#4d7385

}
#cart_block{

background: transparent;
background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(100%, transparent));
background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
background: -o-linear-gradient(top, transparent 0%, transparent 100%);
background: -ms-linear-gradient(top, transparent 0%, transparent 100%);
background: linear-gradient(to bottom, transparent 0%, transparent 100%);
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='transparent', GradientType=0 );*/
-pie-background: linear-gradient(transparent, transparent);
behavior: url(PIE.htc);
z-index:0;}
.block {
border-style:solid;
border-width:0;
background: transparent;
background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(100%, transparent));
background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
background: -o-linear-gradient(top, transparent 0%, transparent 100%);
background: -ms-linear-gradient(top, transparent 0%, transparent 100%);
background: linear-gradient(to bottom, transparent 0%, transparent 100%);
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='transparent', GradientType=0 );*/
-pie-background: linear-gradient(transparent, transparent);
-webkit-border-radius:0; 
-moz-border-radius: 0;
border-radius: 0;
border-color:#c0c0c0;
color:#f4f4f4;
-moz-box-shadow: 0px 0px 0 0 transparent;
-webkit-box-shadow: 0px 0px 0 0 transparent;
box-shadow: 0px 0px 0 0 transparent;
box-shadow: none\0/;

behavior: url(PIE.htc);
z-index:0;

}
.block_content{padding:3px;}
.sf-menu > li{border:none;margin:auto}
#languages-block-top ul li.selected
{color:#808080;background:#383838
}
 #currencies-block-top ul, #languages-block-top ul 
 {color: #f3f3f3;
background:transparent;
}
#contact-link a:hover,.header_user_info a:hover,
 #currencies-block-top div.current:hover, #currencies-block-top div.current.active, 
  #languages-block-top ul li.selected, #languages-block-top ul li:hover a,
  #currencies-block-top ul li.selected, #currencies-block-top ul li:hover a,#languages-block-top div.current:hover {color:#808080;background:#383838}
  
.shopping_cart > a:first-child,#search_block_top .btn.button-search,header .nav, #currencies-block-top div.current{
		background-image:url(../icons/transparent.gif);
background-repeat:repeat-x;
background-position:left top;
border-radius: 0;
-webkit-border-radius:0; 
-moz-border-radius: 0;
color: #f3f3f3;
background:transparent;
	}
		ul.step li.step_current span{border:none;text-shadow: 1px 1px #000;}
	ul.step li.step_current{color: #f3f3f3;
background:transparent;; 
border:1px solid #aaa;}
ul.step li.step_done a{border:none}
ul.step li.step_todo span:after{background:none}
ul.step li.step_done.step_done_last a:after{background:none}
ul.step li.step_current span:after {background:none}
ul.step li.step_todo span{border:none}
ul.step li.step_done a:after{background:none}
ul.step li.step_done{border: 1px solid;
border-top-color: #cacaca;
border-bottom-color: #9a9a9a;
border-right-color: #b7b7b7;
border-left-width: 0px;}
.sf-menu {
	width: 100%;
	/*margin-top: 2em;*/
	position:relative;
	float:left;
	background:transparent;
	border-bottom:;
	border-width:0;
	border-color: #f95d00;
	border-style: solid;
	background-image:url(../icons/transparent.gif);
background-repeat:repeat-x;
background-position:left top;
border-radius: 0;
-webkit-border-radius:0; 
-moz-border-radius: 0;
background:transparent;
	
}

/* general ul style */
.sf-menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* first level ul style */
.sf-menu > ul,
.sf-menu .cbp-hrsub-inner {
	width: 1174px;
	
	margin: 0 auto;
	
}
#languages-block-top ul li a, #languages-block-top ul li > span{	background-color:#000214;color: #f3f3f3;}
 .sf-menu > li > a:hover{color:#808080;background:#383838}
.sf-menu > ul > li, .sf-menu > li > a {
	display: inline-block;
	font-family:Yanone Kaffeesatz;
	text-decoration:none;
	font-size:19px; 
	font-weight: 200;
	margin:0px;
	background-color:transparent;
	border-width:0px;
	border-color:#240074;
	border-radius: 0px;
-webkit-border-radius:0px; 
-moz-border-radius: 0px;
border-style:solid;
text-transform:uppercase;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  
color: #f3f3f3;
}
.sf-menu > li > ul > li > a{
	font-family:Yanone Kaffeesatz;
	}
	
.sf-menu > ul > li .selected, .sf-menu > li.sfHoverForce > a{background: #383838 repeat-x; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0;filter: alpha(opacity=100); opacity: 1;z-index:1000;
	behavior: url(PIE.htc); }
.sf-menu > ul > li > a {
	font-weight: 200;
	padding: 1em 2em;
	color: #f3f3f3;
	display: inline-block;
	font-size:19px; 
	text-decoration:none; text-transform:uppercase
}

.sf-menu > ul > li > a:hover {
	color: #808080;
	   transition: 1s color; /*animates for 1 second*/
    -moz-transition: 1s color; /*For Firefox < 16.0*/
    -webkit-transition: 1s color; /*For WebKit (Chrome, Safari)*/
	text-decoration:underline
}

.sf-menu > ul > li.cbp-hropen a,
.sf-menu > ul > li.cbp-hropen > a:hover {
	color: #fff;
	background: #47a3da;
}

/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
	display: none;
	position: absolute;
	background: #47a3da;
	width: 100%;
	left: 0;
}

.cbp-hropen .cbp-hrsub {
	display: block;
	padding-bottom: 3em;
}

.cbp-hrmenu .cbp-hrsub-inner > div {
	width: 33%;
	float: left;
	padding: 0 2em 0;
}

.cbp-hrmenu .cbp-hrsub-inner:before,
.cbp-hrmenu .cbp-hrsub-inner:after {
	content: " ";
	display: table;
}

.sf-menu .cbp-hrsub-inner:after {
	clear: both;
}

.sf-menu .cbp-hrsub-inner > div a {
	line-height: 2em;
}

.sf-menu h4 {
	color: #afdefa;
	padding: 2em 0 0.6em;
	margin: 0;
	font-size: 160%;
	font-weight: 300;
}
#center_column.col-sm-9 .col-md-3 .box-info-product{
	background:transparent;
	}
	#center_column.col-sm-9 .col-md-3 .box-info-product p{padding:0}
	.box-cart-bottom{padding:5px 0 0 0}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family:Yanone Kaffeesatz}
.page-heading span.heading-counter{font:bold 13px/22px Yanone Kaffeesatz, Helvetica, sans-serif}
#center_column a {color:#b9b9b9}
#center_column a:hover {color:#e7e7e7}
.order_carrier_content .carrier_title,.order_carrier_content .carrier_title{color:#e7e7e7}
.price{color:#ff1f10}

.page-heading,.page-heading span.heading-counter, #subcategories p.subcategory-heading,label,.content_sortPagiBar .display li.display-title, .content_sortPagiBar .display_m li.display-title,p.info-title{color:#d9d9d9}
.page-subheading,#login_form .form-group.lost_password a,#create-account_form p,ul.product_list.list > li .product-desc{color:#efefef}


.shopping_cart > a:first-child b{font: 600 18px/22px Yanone Kaffeesatz, sans-serif;}
#header .shopping_cart > a:first-child b, .shopping_cart > a:first-child:before, #header .shopping_cart > a:first-child:after {color:#ffffff}
.page-subheading{font-family: Yanone Kaffeesatz, sans-serif;}
.page-heading{font: 600 1.5em/22px Yanone Kaffeesatz, sans-serif;}
h3.page-product-heading{font-family: Yanone Kaffeesatz, sans-serif;}

#my-account ul.myaccount-link-list li a{font: 600 16px/20px Yanone Kaffeesatz, sans-serif;}

.button.button-small{font: bold 12px/17px Yanone Kaffeesatz, Helvetica, sans-serif;}
.button.button-small, .button.button-medium, .button.lnk_view span, .button.exclusive-medium span{bold 12px/17px Arial, Helvetica, sans-serif}
.button.ajax_add_to_cart_button{font: 700 17px/21px Yanone Kaffeesatz, Helvetica, sans-serif;}
.button.lnk_view{font: 700 17px/21px Yanone Kaffeesatz, Helvetica, sans-serif;}

.button.button-small,.button.button-medium,.button.lnk_view span,.button.exclusive-medium span  {
color:#fffdf4;
background-color:#353535; 
background-image:url(../icons/transparent.png);
-webkit-border-radius:3px; 
-moz-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: 0px 0px 1px 0px #151515;
-webkit-box-shadow: 0px 0px 1px 0px #151515;
box-shadow: 0px 0px 1px 0px #151515;
box-shadow: none\0/;
behavior: url(PIE.htc);
z-index:0;	
border-color:transparent;
border:none

  }
  .button.lnk_view span:hover,.cart_block .cart-buttons a#button_order_cart:hover span,.button.button-medium span:hover{color:#fefff0;
background-color:#333333; border:none}
.box-info-product .exclusive span,.box-info-product .exclusive{border-top:none; border-bottom:none;border-left:none;border-right:none;}
.box-info-product .exclusive:before{border:none}
  .button.lnk_view{border:none; text-shadow:none}
  .button.ajax_add_to_cart_button:hover span
  {color:#fffdf4;
background-color:#353535;
 }
 #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive{
	 background-color:#333333; margin:0 auto; width:90%;
	 
	 background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #353535), color-stop(100%, #353535));
background-image: -webkit-linear-gradient(#353535, #353535);
background-image: -moz-linear-gradient(#353535, #353535);
background-image: -o-linear-gradient(#353535, #353535);
background-image: linear-gradient(#353535, #353535);
	 color:#fefff0;
	 
 border-top: 1px solid #353535;
border-right: 1px solid #353535;
border-left: 1px solid #353535;
border-bottom: 1px solid #353535;
 }
 #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive span{border-top:1px solid #333333}
/* #center_column.col-sm-9 .col-md-3 .box-info-product div{padding:15px 12px 0}*/
.button.ajax_add_to_cart_button span,.button.exclusive-medium,.box-info-product .exclusive span, .button.ajax_add_to_cart_button,.cart_block .cart-buttons a#button_order_cart span,.button.button-medium span{

border-color:transparent;
border:none;
color:#fefff0;
background-color:#333333;


z-index: 1000;

-webkit-border-radius:3px; 
-moz-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: 0px 0px 1px 0px #151515;
-webkit-box-shadow: 0px 0px 1px 0px #151515;
box-shadow: 0px 0px 1px 0px #151515;
box-shadow: none\0/;
  transition: all 0.65s ease-in-out;
    -webkit-transition: all 0.65s ease-in-out;
    -moz-transition: all 0.65s ease-in-out; 

	background-image:url(../icons/transparent.png);
background-repeat:repeat;	
behavior: url(PIE.htc);
z-index:0;
	}
	
.button.exclusive-medium{text-shadow:none}
.footer-container #footer ul li a{text-shadow:none; font-size:17px;font-weight:100}
.footer-container #footer #block_contact_infos > div ul li{font-weight:100}
.footer-container #footer #block_contact_infos > div ul li > span, .footer-container #footer #block_contact_infos > div ul li > span a{color:#e8e8e8}
.footer-container #footer a{color:#f9f9f9}
#paiement_logo_block_left a img{
outline: 7px solid orange;
margin-right: 17px;}


#paiement_logo_block_left{position: relative;
float: right;padding: 30px 15px 7px 15px; }
#currencies-block-top div.current strong{color:#f3f3f3}  

#currencies-block-top div.current,#languages-block-top div.current{padding: 8px 10px 10px 10px}

#footer #newsletter_block_left .form-group .button-small{
	-moz-box-shadow:none;
-webkit-box-shadow: none;
box-shadow: none;

	}
	#thumbs_list {

width: 74%;
}
	 #footer #newsletter_block_left .form-group .button-small:before 
	 {
        content: "\f0e0";
        font-family: "FontAwesome";
        font-size: 28px;
        line-height: 28px; 
		}

.timeline .stream{overflow-y:hidden}
#facebook_block .facebook-fanbox{border:none}

	/**/
	
	
	#footer #newsletter_block_left{border:none}
	.footer-container #footer #block_contact_infos{border-left:none}
	.footer-container #footer .bottom-footer div{color:#f9f9f9;}
	#header .cart_block{background:#000}

#facebook_block, #cmsinfo_block
{background:transparent}


h4{font:300 21px/25px "Open Sans", sans-serif; }
#facebook_block h4 {
padding:22px 0 0 73px;
margin: 0 0 11px 0;
font: 300 21px/25px "Open Sans", sans-serif;
color: #6f6d6d;
height: 66px;
background: url(../img/face.png) left bottom no-repeat;
}
#informations_block_left h4{background: url(../img/goo.png) left bottom no-repeat;padding: 0px 0 0 73px;line-height: 66px;}
#twitIcon{display:none}
h2.tut{background: url(../img/twee.png) left bottom no-repeat;padding: 0px 0 0 73px;line-height: 66px; margin-top:-4px}
	@media (min-width: 768px){
#home-page-tabs {
padding: 10px 0;
margin: 0 0 0 0px;

}
		}
	@media (min-width: 1024px){
		
#header {
max-width: 1174px; margin:0 auto
}
.container {
max-width: 1174px;
}
.footer-container {max-width: 1174px; margin:0 auto}
.footer-container #footer{padding-left: ; padding-left:}

#columns{margin-top:0px; margin-bottom:0px}
}
@media (min-width: 992px){
ul.product_list.grid > li.first-in-line {
clear: none;
}
}
@media (min-width: 768px){
	#columns{padding-left:5px; padding-right:5px}
			html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{font-size:100%}
/*	.col-sm-3 {
width: 20%;
}
.col-sm-9 {
width: 80%;
}
.col-sm-6 {
width: 60%;
}
ul.product_list.grid > li {

width: 48%;
margin: 1%;
}*/
	
.row{ margin-left: -7px; 
 margin-right: -7px; }
 #home-page-tabs {
padding: 10px 0;
margin: 0 0 0 -8px;
}
}
@media (max-width: 767px){
	 .sf-menu > li span:after {
          color:  #f3f3f3;
}
	.sf-menu > ul > li .selected, .sf-menu > li.sfHoverForce > a,.sf-menu > ul > li, .sf-menu > li > a{width:100%}
	#header, #columns,#footer,.footer-container{border:none;margin-top:0; margin-bottom:0}
	#twitter-ticker{width:100%;position:relative; float:left; margin-top:17px}
	#paiement_logo_block_left{display:none}
	#facebook_block h4,#informations_block_left h4,h2.tut{font: 300 22px/23px "Open Sans", sans-serif;padding-top: 41px !important; height: 80px;}
	
	#twitter-ticker iframe{position:relative;float:left}
	#informations_block_left{width:100%; position:relative; float:left; margin-top:17px}
.block .title_block:after, .block h4:after{top:2px}
							div.block h4, .title_block, div.tags_block .title_block, .block .title_block, .block h4{background-image:none}
.cat-title{background-image:url(../icons/transparent.gif);
background-repeat:repeat-x;
background-position:left top;
border-radius: 0;
-webkit-border-radius:0; 
-moz-border-radius: 0;
background:transparent;}

}
@media (max-width: 568px){
/*.container{padding-right:5px; padding-left:5px;}*/
#contact-link{display:none}

}

.footer-container #footer #social_block ul li.twitter a:before {
content: "\f081";
}
.contact-form-box{background:none}
.footer-container #footer #social_block ul li.facebook a:before{
content: "\f082";
}
.footer-container #footer #social_block ul li.rss a:before {
content: "\f143";
}
.footer-container #footer #social_block ul li.google-plus a:before {
content: "\f0d4";
}
.price {
text-shadow: 0px 0px 3px red;
font-size: 15px;
}
.top-hr{height:1px}
	 