@font-face {
  font-family: 'ecommerce';
  src: url('../fonts/ecommerce.eot?44107782');
  src: url('../fonts/ecommerce.eot?44107782#iefix') format('embedded-opentype'),
       url('../fonts/ecommerce.woff?44107782') format('woff'),
       url('../fonts/ecommerce.ttf?44107782') format('truetype'),
       url('../fonts/ecommerce.svg?44107782#ecommerce') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ecommerce';
    src: url('../fonts/ecommerce.svg?44107782#ecommerce') format('svg');
  }
}
*/
 
 .shopping_cart > a:first-child:before {
  font-family: "ecommerce";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-bag19:before { content: '\e800'; } /* '' */
.icon-shopping89:before { content: '\e801'; } /* '' */
.icon-shopping88:before { content: '\e802'; } /* '' */
.icon-shopping90:before { content: '\e803'; } /* '' */
.icon-shopping91:before { content: '\e804'; } /* '' */
.icon-shopping93:before { content: '\e805'; } /* '' */
.icon-shopping94:before { content: '\e806'; } /* '' */
.icon-shopping103:before { content: '\e807'; } /* '' */
.icon-shopping105:before { content: '\e808'; } /* '' */
.icon-shopping104:before { content: '\e809'; } /* '' */
.icon-coin12:before { content: '\e80a'; } /* '' */
.icon-coin11:before { content: '\e80b'; } /* '' */
.icon-black207:before { content: '\e80c'; } /* '' */
.icon-bill1:before { content: '\e80d'; } /* '' */
.icon-basket14:before { content: '\e80e'; } /* '' */
.icon-basket13:before { content: '\e80f'; } /* '' */
.icon-basket12:before { content: '\e810'; } /* '' */
.icon-basket11:before { content: '\e811'; } /* '' */
.icon-basket10:before { content: '\e812'; } /* '' */
.icon-bag25:before { content: '\e813'; } /* '' */
.icon-bag24:before { content: '\e814'; } /* '' */
.icon-bag23:before { content: '\e815'; } /* '' */
.icon-bag22:before { content: '\e816'; } /* '' */
.icon-bag21:before { content: '\e817'; } /* '' */
.icon-bag20:before { content: '\e818'; } /* '' */
.icon-shopping87:before { content: '\e819'; } /* '' */
.icon-shopping83:before { content: '\e81a'; } /* '' */
.icon-shopping82:before { content: '\e81b'; } /* '' */
.icon-shopping84:before { content: '\e81c'; } /* '' */
.icon-shopping78:before { content: '\e81d'; } /* '' */
.icon-shop4:before { content: '\e81e'; } /* '' */
.icon-shop3:before { content: '\e81f'; } /* '' */
.icon-credit55:before { content: '\e820'; } /* '' */

#video-controls { width: 333px; }
#video-controls a { color: #ddd; text-decoration: underline; }


/*
	----------------------------
	UTILITY CLASSES
	____________________________
*/


.black-15 { background: url(../img/black-15-trans.png); color: #fff; padding: 4px 12px; margin: 24px 0; }
.black-35 { background: url(../img/black-35-trans.png); color: #fff; padding: 4px 12px; margin: 24px 0; }
.black-50 { background: url(../img/black-50-trans.png); color: #fff; padding: 4px 12px; margin: 24px 0; }
.black-65 { background: url(../img/black-65-trans.png); color: #fff; padding: 4px 12px; margin: 24px 0; }
.black-85 { background: url(../img/black-85-trans.png); color: #fff; padding: 4px 12px; margin: 24px 0; }
