
.icon-bag19:before { content: '\e800'; } /* '' */
.icon-shopping89:before { content: '\e801'; } /* '' */
.icon-shopping88:before { content: '\e802'; } /* '' */
.icon-shopping90:before { content: '\e803'; } /* '' */
.icon-shopping91:before { content: '\e804'; } /* '' */
.icon-shopping93:before { content: '\e805'; } /* '' */
.icon-shopping94:before { content: '\e806'; } /* '' */
.icon-shopping103:before { content: '\e807'; } /* '' */
.icon-shopping105:before { content: '\e808'; } /* '' */
.icon-shopping104:before { content: '\e809'; } /* '' */
.icon-coin12:before { content: '\e80a'; } /* '' */
.icon-coin11:before { content: '\e80b'; } /* '' */
.icon-black207:before { content: '\e80c'; } /* '' */
.icon-bill1:before { content: '\e80d'; } /* '' */
.icon-basket14:before { content: '\e80e'; } /* '' */
.icon-basket13:before { content: '\e80f'; } /* '' */
.icon-basket12:before { content: '\e810'; } /* '' */
.icon-basket11:before { content: '\e811'; } /* '' */
.icon-basket10:before { content: '\e812'; } /* '' */
.icon-bag25:before { content: '\e813'; } /* '' */
.icon-bag24:before { content: '\e814'; } /* '' */
.icon-bag23:before { content: '\e815'; } /* '' */
.icon-bag22:before { content: '\e816'; } /* '' */
.icon-bag21:before { content: '\e817'; } /* '' */
.icon-bag20:before { content: '\e818'; } /* '' */
.icon-shopping87:before { content: '\e819'; } /* '' */
.icon-shopping83:before { content: '\e81a'; } /* '' */
.icon-shopping82:before { content: '\e81b'; } /* '' */
.icon-shopping84:before { content: '\e81c'; } /* '' */
.icon-shopping78:before { content: '\e81d'; } /* '' */
.icon-shop4:before { content: '\e81e'; } /* '' */
.icon-shop3:before { content: '\e81f'; } /* '' */
.icon-credit55:before { content: '\e820'; } /* '' */