.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container-fluid > .navbar-header,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
   .container-fluid > .navbar-header,	
   .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }

}
@media (min-width: 768px) {
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}

.container-fluid:before,
.container-fluid:after{
  display: table;
  content: " ";
}
.container-fluid:after{
  clear: both;
}