@import '../../stylesheets/reset.css';
@import '../../stylesheets/demo.css';
@import '../../stylesheets/scss/grid.scss';


//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
$columns: 12;
$column-width: 60;
$gutter-width: 20;

// Remove the definition below for a pixel-based layout
$total-width: 80%;


////////////
// LAYOUT //
////////////

// header
header {
	margin-bottom: 1em;
}

// main column & sidebar
page {
   .column(9);
}
left {
   .column(3);
}
right {
   .column(3);
}
footer {
   .column(3);
}
header {
   .column(3);
}
column {
   .column(3);
}
@media screen and (max-width: 720px) {
	#maincolumn,
	#sidebar {
		@include column(12);
		margin-bottom: 1em;
	}
}