
	input, textarea{
  
  
    outline:none;
    transition: all 0.75s ease-in-out;
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
   
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
   
    color:gray;
 
  
}
 
input:focus, textarea:focus {
    box-shadow: 0 0 10px #1ec729;
    -webkit-box-shadow: 0 0 10px #1ec729;
    -moz-box-shadow: 0 0 10px #1ec729;
    border:1px solid #999;
   
}

		