
/* global */
.center{text-align:center!important;}
.no_border{border:none!important;}

.txt_success{color:#408E01;}
.txt_error{color:#CC0000;}

.separator{
    border-bottom:1px solid #cccccc;
    width:700px;
}

/* BUG CSS Jquery UI */
.ui-widget-header{background-image:none!important;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{background-image:none!important;}
.ui-autocomplete-loading {
    background: url('../img/spinner.gif') no-repeat scroll right center #FFFFFF!important;
}

/* admin_home */
#admin_home #desc-supernewsletter-configuration{
    background:url('../img/bg_btn_tools.png') no-repeat top center;
    display: block;
    float: none;
    margin: 0 auto;
    width:100px;
}
#admin_home #desc-supernewsletter-templates{
    background:url('../bg_btn_templates.png') no-repeat top center;
    display: block;
    float: none;
    margin: 0 auto;
    width:100px;
}
#admin_home #desc-supernewsletter-sending{
    background:url('../img/bg_btn_sending.png') no-repeat top center;
    display: block;
    float: none;
    margin: 0 auto;
    width:100px;
}
#admin_home #desc-supernewsletter-cron{
    background:url('../img/bg_btn_cron.png') no-repeat top center;
    display: block;
    float: none;
    margin: 0 auto;
    width:100px;
}

/* admin_newsletter_edit */
#admin_newsletter_edit #lst_alias{color:#3f3f3f;}
#admin_newsletter_edit #lst_alias .alias{color:#0b74cc;font-weight:bold;}
#admin_newsletter_edit #products_list{border:1px solid #CCCCCC;width:680px;padding:10px;background-color:#fff;}
#admin_newsletter_edit #products_list li{margin-top:5px;}
#admin_newsletter_edit #products_list li .img_product{border:1px solid #CCCCCC;margin-right:10px;}

/* admin_templates */
#admin_templates .info span{line-height:25px;}
#admin_templates .table_img_preview td{border:none;}
#admin_templates .img_preview{border:1px solid #d5d5d5}

/* admin_template_edit */
#admin_template_edit .block_img_h_f{background-color:#fff;width:700px;padding-bottom:10px}
#admin_template_edit #images{width:690px;}
#admin_template_edit .img_h_f{text-align:center;}

/* admin_emails_import */
#admin_emails_import_edit #email{width:348px;}

/* admin_sending */
#admin_sending .important{color:#408e01}
#admin_sending label{float:none;}

#admin_sending #progressBar{text-align:center;margin:0px auto;}
#admin_sending #progressBar #nb_emails_sent{font-weight:bold;font-size:20px;}
#admin_sending #progressBar #separator{font-weight:bold;font-size:20px;padding:0px 5px 0 5px;}
#admin_sending #progressBar #total_emails{font-weight:bold;font-size:20px;}

#admin_sending #stop_sending{text-align:center;margin-top:30px;}
#admin_sending #stop_sending a{color:#F50909;}

#admin_sending #success_msg{margin-top:30px;}

#admin_sending #table_emails{width:600px;float:left;}
#admin_sending #table_emails th{text-align:center;}
#admin_sending #table_emails .negative_emails{color:#CC0000;}
#admin_sending #table_emails .negative_number{color:#CC0000;font-weight:bold;}

#admin_sending #table_stats{margin-left:10px;float:left;}
#admin_sending #table_stats .solde_emails{color:#fe9909;font-weight:bold;}
#admin_sending #table_stats .sent_emails{color:#43b200;font-weight:bold;}
#admin_sending #table_stats #cell_send_mails{padding:15px;text-align:center;}
#admin_sending #table_stats #cell_send_mails form{float:left;padding-left:5px;}
#admin_sending #table_stats #send_mails{float:left;}
#admin_sending #table_stats input.button{padding:2px;}

#admin_sending #table_antispam {margin-left:10px;float:left;}
#admin_sending #table_antispam #note{border-top:1px solid #CCCCCC;margin-top:3px;padding-top:3px;}

/* admin_configuration */
#admin_configuration #emails_pack{width:40px}
#admin_configuration #emails_sleep{width:40px}
#admin_configuration #label_mail_method{font-weight:bold;}
#admin_configuration select[name="utf8encode"], #admin_configuration #email_sender, #admin_configuration #email_bounces,#admin_configuration select[name="webbax_debug"]{width:200px}
#admin_configuration #table_cron_config{font-size:12px}

/* admin_cron */
#admin_cron #infos_cron{
    padding:20px;
    font-size:12px;
    display:block;
    padding-left:50px;
    width:700px;
    z-index:0;
}
#admin_cron #infos_cron .label_url_cron{color:#000;font-weight:bold;}
#admin_cron #infos_cron .url_cron{color:#d3640b;font-weight:bold;}
#admin_cron #results{width:770px;}
#admin_cron #results #newsletters{width:100%;}

/* admin_stats */
#admin_stats .table_stats{width:600px;}
#admin_stats .table_stats .cell1{width:500px;}