.center{text-align:center}
.important{color:#CC0000;font-weight:bold;}
.link{color:#0095ea!important;}

.float_left{float:left;}
.float_right{float:right;}

.icon_top{vertical-align:top;}
.icon_middle{vertical-align:middle;}
.icon_bottom{vertical-align:bottom;}

#progressBar{
    width: 400px;
    height: 22px;
    border: 1px solid #111;
    background-color: #292929;
}

#progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #0099ff;
}

