#module_toolbar{margin-bottom:15px;}
#module_toolbar .span_block{margin-right:10px!important;}

#admin_home .supernewsletter th{font-weight:bold;}
 
#admin_newsletter_edit #fieldset_0{width:1000px!important;}
#admin_newsletter_edit #date{width:90px;}
#admin_newsletter_edit #product_search{width:300px!important;float:left;margin-right:5px;}
#admin_newsletter_edit #h3_list_products{margin-top:20px;}
#admin_newsletter_edit #products_list li{list-style:none;}

#admin_template_edit{width:1000px!important;}

#admin_sending table{border:1px solid #dddddd;}
#admin_sending table th{background-color:#f3f3f3;}
#admin_sending #id_supernewsletter_content{width:300px!important;}
#admin_sending #table_emails{width:330px;}
#admin_sending #table_antispam{width:330px;}
#admin_sending #table_score th{background-color:#f7f7f7!important;border-style:dashed;border-width:1px;}
#admin_sending #table_stats{width:330px;}
#admin_sending .icon_middle{vertical-align:top!important;}

#admin_stats #id_supernewsletter_content{width:300px!important;}
#admin_stats table{border:1px solid #dddddd;}
#admin_stats table th{background-color:#f3f3f3;}

#admin_configuration{width:1000px!important;}
#admin_configuration #table_cron_config td{padding:2px!important;}
#admin_configuration #conf_smtp input, #admin_configuration #conf_smtp select{margin-top:2px!important;}
#admin_configuration #span_email_test{width:137px;float:left;padding-right:5px;}
#admin_configuration #email_test{width:145px;float:left;margin-right:5px;}
#admin_configuration #sendMailtest{float:left;}

#admin_cron{width:1000px!important;}
#admin_cron #date{width:90px;}
#admin_cron #results{width:500px!important;}
#admin_cron #results_search table{border:1px solid #EEE;}
#admin_cron #results_search th{background-color:#EEE;}

#admin_emails_import #block_orderby #order_by{display:inline!important;width:150px;}
#admin_emails_import #block_orderby #order_type{display:inline!important;width:100px}
#admin_emails_import #block_orderby .btn{margin-bottom:5px;}

#admin_emails_import #block_searchby input, #admin_emails_import #block_searchby select{display:inline!important;width:100px;}
#admin_emails_import #block_searchby .btn{margin-bottom:5px;}
#admin_emails_import table th{background-color:#f3f3f3;}
#admin_emails_import #pagination{margin-bottom:15px;}